<div class="wrapper">
  <ul>
    <li>
      <p>Already a member<p>
      <button data-login-action="signin">Sign in</button>
    </li>
    
    <li>
      <p>Sign up for all of our member benefit</p>
      <button data-login-action="register">New Customer</button>
    </li>
    
    <li>
      <p>No thanks</p>
      <button data-login-action="continue">Continue As Guest</button>
    </li>
  </ul>
</div>

<section></section>

