<h3>Checkout</h3>
<%= caboose_store_cart %>

<h2>Shipping Address</h2>
<%= caboose_store_shipping_address %>

<h2>Shipping Method</h2>
<%= caboose_store_shipping_method %>

<h2>Discount</h2>
<%= caboose_store_order_discount %>
