<form action="<%= CabooseStore::PaymentProcessor.form_url(@order) %>" method="post">
  <%= sim_fields(@sim_transaction) %>
  <input id="x_method" name="x_method" type="hiddn" value="CC" />
  <label>Card Number</label>
  <input id="x_card_num" name="x_card_num" type="text" />
  <label>Expiration</label>
  <input id="x_exp_date" name="x_exp_date" type="text" />
  <input type="submit" value="Submit" />
</form>
