<style>
	.quantity_box { width: 300px; height: 300px; }
</style>

<div class="quantity_box">
<p id="message">Sorry, your specified quantity exceeds what we have in stock. Your cart will be updated to reflect our current stock.</p>
<div id="update_btn" style="display:none;"><button id="update_cart">Return to Checkout</button></div>
<p class="loading" id="updating" style="display:none;">Updating cart...</p>
</div>

<%= content_for :caboose_js do %>
<%= javascript_include_tag 'cart' %>
<script type='text/javascript'>

var modal = false;
$(window).load(function() {
    modal = new CabooseModal(300, 300);
    update_quantities();
});

function update_quantities() {
   $("#updating").show(); 
    $.ajax({
    url: '/checkout/update_quantities',
    success: function(order) {
       $("#updating").hide(); 
       $("#update_btn").show(); 
    }
  });
}

function close_colorbox() {
	parent.jQuery.fn.colorbox.close();
}

$("#update_btn").click(function() { close_colorbox(); });

</script>
<% end %>