<!DOCTYPE>
<html>
  <body>
    <script type="text/javascript">
      parent.relay_handler({
        "success": <%= @success %>,
        "message": "<%= @message %>"
      });
    </script>
  </body>
</html>

