<!DOCTYPE>
<html>
  <body>
    <script>
      console.log(parent);
      console.log(top);
    </script>
    
    <script id="response" type="application/json">
      parent.postMessage({
        success: <%= @success %>,
        message: '<%= @message %>'
      });
    </script>
  </body>
</html>

