<!DOCTYPE>
<html>
<body>
<script>
console.log(window);
</script>
<script id="response" type="application/json">
  {
    success: <%= @success %>,
    message: '<%= @message %>'
  }
</script>
</body>
</html>
