<!DOCTYPE>
<html>
  <body>
    <script id="response" type="application/json">
      window.relay({
        success: <%= @success %>,
        message: '<%= @message %>'
      });
    </script>
  </body>
</html>

