<!DOCTYPE>
<html>
  <body>
    <script id="response">
      console.log(parent);
      console.log(top);
      console.log(parent.relay);
      console.log(top.relay);
      parent.relay({
        success: <%= @success %>,
        message: '<%= @message %>'
      });
      
      parent.postMessage({
        success: <%= @success %>,
        message: '<%= @message %>
      });
    </script>
  </body>
</html>

