
  <div class="page-content">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <ul class="breadcrumb">
          <li><a href="/">Home</a><span class="divider">/</span></li>
          <li><a href="/checkout">Checkout</a><span class="divider">/</span></li>
          <li><a href="/checkout/shipping">Finished</a></li>          
        </ul>
        </div>
      </div>
      
      <div class="row-fluid">
        <div class="span12 single-item">

<h3>All Finished!</h3>
<p>Thank you for your order! Your order has been submitted.</p>
<p>Please allow up to 48 hours for your order to be processed.  Orders are processed during normal business hours Monday through Friday.</p>
<p><input type='button' value='Continue Shopping' onclick="window.location='/';" /></p>
        
        </div>
      </div>
    </div>
  </div>

<%= content_for :caboose_js do %>
<%= javascript_include_tag 'checkout' %>
<script type='text/javascript'>

$(document).ready(function() {
  
});

</script>
<% end %>
