<li class="thumb">
	<a href="<%= category.url %>">
		<figure class="thumb-image" style="background-image: url('https://dmwwflw4i3miv.cloudfront.net/categories/<%= category.id %>_medium.jpg');"></figure>
		<div class="thumb-title"><%= category.name %></div>
	</a>
</li> <!-- .thumb -->
